[user]
    name = Phil Mayer
    email = phil.mayer93@gmail.com

[alias]
    b = branch
    d = diff
    l = log --oneline
    s = status
    nuke = !sh -c 'git branch | grep -v "master" | grep -v "develop" | xargs git branch -D' -

[core]
    editor = vim

[credential]
    helper = osxkeychain

[diff]
    mnemonicprefix = true

[push]
    default = simple

[pull]
    rebase = true

