[user]
  name = Phil Mayer
  email = me@pmayer.dev

[core]
  editor = vim
  excludesFile = ~/.gitignore
  trustctime = false

[credential]
  helper = osxkeychain

[alias]
  b = branch
  d = diff
  l = log --graph --oneline
  s = status

[branch]
  sort = -committerdate

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  all = true
  prune = true
  pruneTags = true

[help]
  autocorrect = prompt

[init]
  defaultBranch = main

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = simple
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[tag]
  sort = version:refname
